// compress: true

@import 'vars/vars.less';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	color: @gray;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	margin-bottom: 60px;
	text-align: center;

	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	line-height: 1.19;
	font-weight: 500;
	color: @dark;
	text-transform: uppercase;
}

@import 'blocks/header.less';
@import 'blocks/about.less';
@import 'blocks/stat.less';
@import 'blocks/projects.less';
@import 'blocks/request.less';
@import 'blocks/wedo.less';
@import 'blocks/portfolio.less';
@import 'blocks/question.less';
@import 'blocks/accordion.less';
@import 'blocks/partners.less';
@import 'blocks/reviews.less';
@import 'blocks/contacts.less';
@import 'blocks/footer.less';


// @media (max-width: 767px) {}
// @media (max-width: 767px) {}
// @media (max-width: 767px) {}