// main: ../style.less

.footer {
	padding: 30px 0;
	background-color: @dark;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright,
.footer__text {
	color: @white;
}