// main: ../style.less

.partners {
	background-color: @dark;

	padding: 100px 0;
	margin-bottom: 150px;
}

.partners__title {
	color: @white;
}

.partners__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 64.5px;
}

@media (max-width: 1200px) {
	.partners__inner {
		justify-content: center;
		gap: 50px;
		flex-wrap: wrap;
	}
}