// main: ../style.less

.portfolio {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin-bottom: 150px;
}

.portfolio__item {
	width: 25%;
}

.portfolio__img {
	display: block;
	width: 100%;
}

@media (max-width: 991px) {
	.portfolio {
		justify-content: center;

		margin-bottom: 150px;
	}

	.portfolio__item {
		width: 33.333%;
	}
}

@media (max-width: 767px) {
	.portfolio {
		justify-content: center;
	}

	.portfolio__item {
		width: 50%;
	}
}

@media (max-width: 414px) {
	.portfolio__item {
		width: 100%;
	}
}


// @media (max-width: 767px) {}
// @media (max-width: 767px) {}
// @media (max-width: 767px) {}